keras_applications>=1.0.7,<=1.0.8
image-classifiers==1.0.0
efficientnet==1.0.0
numpy 
scipy 
matplotlib 
scikit-image 
pandas 
numpydoc 
codecov 
coverage 
pep8 
pytest 
pytest-cache 
pytest-cov 
pytest-pep8 
jupyter 
pyevtk
porespy
